on:
    push:
      branches:
        - main
    
    pull_request:
  
permissions: 
  contents: read

jobs:
  test:
    if: github.repository == 'bytedance/UI-TARS-desktop'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: Secret Scanning
      uses: trufflesecurity/trufflehog@7dc056a193116ba8d82154bf0549381c8fb8545c # v3.88.14
      with:
        extra_args: --results=verified,unknown
